@model YLCShopping.Models.Product

@{
    ViewBag.Title = "AdminProductCreate";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}
<link href="~/Content/dist/css/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Content/dist/js/bootstrap-select.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Content/dist/js/i18n/defaults-*.min.js"></script>

<style>

    #myList {
        line-height: 50px;
        border-radius: 0px;
    }

    .list-all {
        height: 80px;
        font-size: 24px;
        background: #222D32;
        color: white;
        transition: all 0.3s linear;
    }

        .list-all:hover {
            background-color: #4E5465;
            border-left: 10px solid #e66d5a;
            color: white;
        }

    #active {
        border-style: none;
        border-left: 10px solid #e66d5a;
        background-color: #4E5465;
    }

    #sm-title {
        width: 100%;
        background: #F2F2F2;
        border-left: 10px solid #17A2B8;
        font-size: 22px;
        padding: 10px;
        margin-top: 25px;
    }
</style>

<div style="width:15%;height: calc(100vh - 80px);float:left;background-color:#222d32;">
    <div class="list-group" id="myList" role="tablist">
        @Html.ActionLink("main page", "Index", "Admin", new { @class = "list-group-item list-group-item-action list-all" })
        @Html.ActionLink("user", "Users", "Admin", new { @class = "list-group-item list-group-item-action active list-all", @id = "active" })
        @Html.ActionLink("order", "Ordermanagement", "Admin", new { @class = "list-group-item list-group-item-action list-all" })
        @Html.ActionLink("merchandise", "Products", "Admin", new { @class = "list-group-item list-group-item-action list-all" })
        @Html.ActionLink("about", "AboutMe", "Admin", new { @class = "list-group-item list-group-item-action list-all" })
    </div>
</div>
@using (Html.BeginForm("AdminProductCreate", "Admin",
       FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div style="float:left;margin-left:30px;width:80%;">
        <h2 id="sm-title">add merchandise</h2>
        <div class="form-horizontal" style="margin-left:35%;margin-top:35px;">
            @*<h4>Product</h4>*@
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="height:60px;">
                <div>
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10" style="width:320px;float:left;">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div style="margin-top:7px;float:left;">
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="height:60px;margin-bottom:10px;margin-top:20px;">
                <div>
                    @Html.LabelFor(model => model.ProductCategory.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10" style="width:320px;float:left;">
                    <select name="pp" class="form-control" id="exampleFormControlSelect1">
                        @foreach (var item in (IEnumerable<YLCShopping.Models.ProductCategory>)ViewData["Productpp"])
                        {
                            <option value="@(item.Name)">@(item.Name)</option>
                        }
                    </select>
                </div>
                <div style="margin-top:7px;float:left;">
                    @Html.ValidationMessageFor(model => model.ProductCategory.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="height:60px;margin-bottom:10px;margin-top:20px;">
                <div>
                    @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10" style="width:320px;float:left;">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div style="margin-top:7px;float:left;">
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="height:60px;margin-bottom:10px;margin-top:20px;">
                <div>
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10" style="width:320px;float:left;">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div style="margin-top:7px;float:left;">
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="height:60px;margin-bottom:10px;margin-top:20px;">
                <div>
                    @Html.LabelFor(model => model.Made, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10" style="width:320px;float:left;">
                    @Html.EditorFor(model => model.Made, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div style="margin-top:7px;float:left;">
                    @Html.ValidationMessageFor(model => model.Made, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group" style="height:60px;margin-bottom:10px;margin-top:20px;">
                <div>
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10" style="width:320px;float:left;">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div style="margin-top:7px;float:left;">
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group" style="height:60px;margin-bottom:10px;margin-top:20px;">
                <div>
                    @Html.LabelFor(model => model.PublishOn, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10" style="width:320px;float:left;">
                  <input class = "form-control" type="date" name="bday"/>
                </div>
                <div style="margin-top:7px;float:left;">
                    @Html.ValidationMessageFor(model => model.PublishOn, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="form-group" style="margin-left:15px;width:290px;margin-top:20px;">
              <p>upload picture</p>
              <div class="input-group mb-1">
                <div class="custom-file" href='javascript:;'>
                  <input name="Image" type="file"onchange='$("#upload-file-info").html($(this).val());' class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label"id="upload-file-info">choose</label>
                </div>
             </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="margin-left:40px;">
                    <input type="submit" value="submit" class="btn btn-info" /> &nbsp;&nbsp;
                    &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                    <div class="btn btn-info" onclick="javascript:history.go(-1);">back</div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
